<div class="container">
    <div class="container">
<div class="row">
    <div class="col-sm-4" ><a routerLink="/clients">   <img alt="Brand"  width="150" height="100" src="assets\IMG\client.png"></a> 
       </div>
    <div class="col-sm-4">      <img alt="Brand"  width="150" height="100" src="assets\IMG\note-2.png">
    </div>
    <div class="col-sm-4">                 <img alt="Brand"  width="150" height="100" src="assets\IMG\note.png">
    </div>
    </div>
    <div class="row2"> 
    <div class="col-sm-4">        <a routerLink="/print">      <img alt="Brand"  width="150" height="100" src="assets\IMG\print_icon1.gif"></a>
    </div><div class="col-sm-4">                 <img alt="Brand"  width="150" height="100" src="assets\IMG\calculator.png">
    </div><div class="col-sm-4">                 <img alt="Brand"  width="150" height="100" src="assets\IMG\products.png">
    </div></div>
  </div>
 </div>

 